<div id="main-bod" ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
  <header landing>
  <div class="overlay">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#">CardsForHumanity</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-controller="IndexController" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#!">Home</a></li>
            <li><a href="#!/#instruction">How to play</a></li>
            <li><a href="#!/#charity">Charity</a></li>
            <li ng-show="showOptions"><a href="#!/signup">Sign up</a></li>
            <li ng-show="showOptions"><a href="#!/signin">Sign in</a></li>
            <li ng-hide="showOptions"><a href="#!/dashboard">Dashboard</a></li>
            <li ng-hide="showOptions"><a href="" ng-click="logOut()">Sign Out</a ></li>
          </ul>
        </div>
      </div>
    </nav>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div class="wpb-teaser parallax-background" id="homer" style="background: transparent;">
  <div class="background-opacity" style="background: transparent;"></div> 
  <div class="modified-container" style="background: transparent;">
    <div class="row" id="main-text" style="background: transparent;"> 
    <!-- Teaser Text Start -->
    <div id="landing-logo" style="background: transparent;">
      <h2 id="slogan">Choose an Avatar!</h2>
      <p id="create">You're almost there! Just pick an avatar from the options below!</p>

      <div class="sign-body">
        <div class="more-sign">
          <form class="signup form-horizontal" action="/users/avatars" method="post">
            <div id="contain-avatars">
              <ul class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <div class="form-actions">
              <button id="sign-up-btn" type='submit' class="btn btn-normal">Let's Go!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
</header>



