<header landing>
  <div class="overlay">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#">CardsForHumanity</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-controller="IndexController" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#!">Home</a></li>
            <li><a href="#!/#instruction">How to play</a></li>
            <li><a href="#!/#charity">Charity</a></li>
            <li ng-show="showOptions"><a href="#!/signup">Sign up</a></li>
            <li ng-show="showOptions"><a href="#!/signin">Sign in</a></li>
            <li ng-hide="showOptions"><a href="#!/dashboard">Dashboard</a></li>
            <li ng-hide="showOptions"><a href="" ng-click="logOut()">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div ng-controller="DashboardController" class="dashboard">
<center>
<div class="btn-group nav-buttons-group">
    <span class="nav-buttons btn btn-default" ng-click="showLeaderboard()" > Leaderboard</span>

    <span class="nav-buttons btn btn-default " ng-click="showGameHistory()"> Game History</span>

    <span class="nav-buttons btn btn-default" ng-click="showDonations()" > Donations </span>
</div>

 <center>
<div class="board container" ng-show="leaderboardShow">
    <h2 class="board-header"> Leaderboard </h2>
    <table class="table table-bordered jumbotron active">
    <th> Rank </th>
    <th> Name </th>
    <th> Number of Wins </th>
    <tr ng-repeat="value in leaderboard " >
        <td>{{ leaderboard.indexOf(value) + 1 }}</td>
        <td>{{ value.name }}</td>
        <td>{{ value.gameWins }}</td>
    </tr>
    </table>
</div>
</center>

<div class="board container" ng-show="gameHistoryShow"> 
  <h2 class="board-header"> Game History </h2>
    <h3 class="notify-message" ng-show="gameHistory.length === 0">You have not played any game </h3>
    <table class="table table-bordered jumbotron" ng-show="gameHistory.length > 0">
    <th> Winner </th>
    <th> Players </th>
    <tr ng-repeat="value in gameHistory">
        <td>{{ value.gameWinner }}</td>
        <td><span ng-repeat="player in value.gamePlayers">{{player.username}}<br></span></td>
    </tr>
    </table>
</div>

<div class="board container" ng-show="donationsShow"> 
  <h2 class="board-header"> User Donations </h2>
    <h3 class="notify-message" ng-show="donations.length === 0"> You have not made any donations </h3>
    <table class="table table-bordered" ng-show="donations">
    <th> User </th>
    <th> Donations </th>
    <tr ng-repeat="value in donations" ng-show="donations">
        <td>{{ value.gameWinner }}</td>
        <td>{{ value.gameRounds }}</td>
        <td>{{ value.gamePlayers }}</td>
    </tr>
    </table>
</div>
</center>
</div>
  </div>
</header>
