<div class="row" ng-controller="IndexController" class="ng-scope">
  <div style="max-width: 480px;
    margin: 30px auto;">
  <div class="panel panel-default signup-panel" style="border-radius: 0px 0px 25px 25px;">
    <div id="login-buttons" class="panel-heading text-center" style="font-size: 20px; font-weight:bold;">
      <span>Sign Up With</span>
    </div>
    <div class="panel-body">
      <hr>
      <div class="text-center">
        <a href="/auth/facebook"><i class="fa fa-facebook fa-4x" style="font-size:35px"></i></a>
        <a href="/auth/github"style="margin-left:50px; "><i class="fa fa-github fa-4x" style="font-size:35px"></i></a>
        <a href="/auth/twitter"style="margin-left:50px; "><i class="fa fa-twitter fa-4x" style="font-size:35px"></i></a>
        <a href="/auth/google"style="margin-left:50px; "><i class="fa fa-google fa-4x" style="font-size:35px"></i></a>
      </div>
      <hr>
      <p class = "text-center" >Or</p>
      <div class="sign-error" ng-show="showError() === 'invalid'">
            Please check your username/password and try again.
      </div>
      <form class="form-horizontal" ng-submit="submitform()" method="post">
        <div class="form-group tex-center">{{alert}}</div>
    <div class="form-group" style="padding-left: 20px; padding-right: 20px"> 
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" ng-model="name" class="form-control input-lg ng-pristine ng-invalid ng-invalid-required" id="name" placeholder="Enter full name" name="name" required="" ng-model="formData.name">
          </div>
        </div>
    <div class="form-group" style="padding-left: 20px; padding-right: 20px">
      <div class="input-group">
        <span class="input-group-addon"><i class=" glyphicon glyphicon-envelope"></i></span>
        <input type="email" ng-model="email" class="form-control input-lg" id="email" placeholder="Enter email" name="email" required>
      </div>
    </div>
    <div class="form-group" style="padding-left: 20px; padding-right: 20px">
      <div class="input-group"> 
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>         

        <input type="password" ng-model="password" class="form-control input-lg" id="password" placeholder="Enter password" name="password" required>
      </div>
    </div>
      <ul>
        <li ng-repeat="avatar in avatars" class="avatars ng-scope" style="margin-bottom: 5px">
            <input name="avatar" type='radio' ng-model="avata.name" value="{{$index}}">
              <img style="height: 40px; width: 40px" class="user-avatar" ng-src="{{avatar}}" />
            </input>
        </li>
      </ul>
    <div class="form-group" id="signupbtn">        
      <div class="col-sm-12 btnmargin">
        <center><button type="submit" class="btn btn-warning btn-lg" style="background-color: #a21e4e ; margin-top: 10px">Sign Up</button></center>
      </div>
    </div>
    <center><p class="account"> Already have an account? <a href="#!/signin">Sign in</a></p></center>
    <center class="homelink"><a href="/">Go to Home</a></center>
  </form>
    </div>
    </div>
  </div>
</div>
