<header>
  <div class="overlay">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="form" ng-controller="IndexController" style="color:#000; display: table-cell; vertical-align: middle">
            <div class="form-inner">
              <div class="panel panel-default signup-panel">
                <div id="login-buttons" class="panel-heading text-center" style="font-size: 20px; font-weight:bold;">
                  <span>Sign In With</span>
                </div>
                <div class="panel-body">
                  <hr>
                  <div class="text-center">
                    <a href="/auth/facebook"><i class="fa fa-facebook fa-4x" style="font-size:35px"></i></a>
                    <a href="/auth/github" style="margin-left:50px; "><i class="fa fa-github fa-4x" style="font-size:35px"></i></a>
                    <a href="/auth/twitter" style="margin-left:50px; "><i class="fa fa-twitter fa-4x" style="font-size:35px"></i></a>
                    <a href="/auth/google" style="margin-left:50px; "><i class="fa fa-google fa-4x" style="font-size:35px"></i></a>
                  </div>
                  <hr>
                  <p class="text-center" style="font-size: 20px; font-weight:bold;">Or</p>
                  <div class="sign-error">
                    Please check your username/password and try again.
                  </div>
                  <form class="form-horizontal" ng-submit="signIn()" method="post">
                    <div class="form-group tex-center" style="text-align: center; color:#B5011C ">{{alert}}</div>
                    <div class="form-group" style="padding-left: 20px; padding-right: 20px">
                      <div class="input-group">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-envelope"></i></span>
                        <input style="width: 400px;" type="email" ng-model="formData.email" class="form-control input-lg" id="email" placeholder="Enter email" name="email"
                          required>
                      </div>
                    </div>
                    <div class="form-group" style="padding-left: 20px; padding-right: 20px">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input style="width: 400px;" type="password" ng-model="formData.password" class="form-control input-lg" id="password" placeholder="Enter password"
                          name="password" required>
                      </div>
                    </div>
                    <div class="form-group" id="signupbtn">
                      <div class="col-sm-12 btnmargin">
                        <center><button type="submit" class="btn btn-warning btn-lg" style="background-color: #a21e4e ">Sign In</button></center>
                      </div>
                    </div>
                    <center>
                      <p class="account"> Not yet registered? <a href="#!/signup">Sign up</a></center>
                    <center class="homelink"><a href="/">Go to Home</a></center>
                    <!--  -->
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>

</header>