.controlChat {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  border: 0px;
  background-color: white;
  bottom: 1%;
  right: 3px; }

.chat-holder {
  color: red;
  position: fixed;
  bottom: 1%;
  right: 3px;
  display: block;
  background: white;
  padding: 1%;
  z-index: 1999;
  height: auto;
  max-height: 600px;
  overflow: static;
  width: 260px;
  border-radius: 5px; }

.chat-holder .chat-title {
  width: 72%;
  color: white; }

.chat-holder .chat-open {
  width: 12%;
  color: white;
  text-align: center;
  padding: 5px; }

.chat-holder .close-chat {
  width: 12%;
  color: white;
  text-align: center;
  padding: 5px; }

.chat-holder .demo {
  color: white;
  float: right; }

.chat-holder .mycollapse {
  max-height: 300px;
  overflow: scroll;
  padding: 2px;
  font-size: 11px;
  color: green;
  font-family: "Comic Sans MS", cursive, sans-serif; }

.chat-holder .chat-messageholder {
  padding: 2px;
  font-size: 12px; }

.chat-holder .chat-list {
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-left: 5px solid #ccc; }

.chat-holder .avater-holder {
  text-align: center; }

.chat-holder .message-input {
  margin-top: 5px; }

.chat-holder .send-message {
  margin-top: 3px; }

.chat-holder .messageholder {
  padding: 4px;
  overflow: auto; }

.chat-holder .message-area {
  width: 100%;
  margin-top: 5px;
  margin: 2px;
  font-size: 10px;
  border-radius: 4px;
  border-left: 5px solid green;
  height: 80px; }

.chat-holder .message-container {
  padding: 0px; }

.chat-holder .post {
  padding: 2px;
  margin-bottom: 12px; }

.chat-holder .chat-header {
  text-align: center; }

.chat-holder .chip {
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  width: 100%; }

.chat-holder .chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 40px;
  width: 40px;
  border-radius: 50%; }
  #searchbox {
  width: 200px;
  height: 50px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#searchbox .glyphicon-search {
  vertical-align: middle;
  position: absolute;
  left: 15px;
  top: 8px;
}

#searchbox input#search {
  width: 180px;
  height: 30px;
  background: #eaeeef;
  border: none;
  font-size: 12px;
  color: #63717f;
  padding-left: 45px;
  border-radius: 5px;
  outline: 0;
}

.search-button, .search-button:active, .search-button:focus {
  height: 30px;
  font-size: 13px;
  outline: 0;
}
.dropdown-menu > li > span > a {
  color: #333 !important;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 200;
  float: left;
  border-bottom: #d8d8d8 2px solid;
  cursor: pointer;
}
.dropdown-menu > li > span > a:hover {
  color: #213367 !important;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 200;
  float: left;
  text-decoration: underline;
}
.dropdown-menu {
  width: 280px;
}

.invite {
    border: none;
    outline: none;
    background: #14a4d4;
    padding: 9px 9px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7em;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
}
.invite-friend {
    border: none;
    outline: none;
    background: #14a4d4;
    padding: 10px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7em;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;

}
.invite:hover {
  background: #748e9c;
}
button[disabled] {
  background: #ccc;
  opacity: 0.65; 
  pointer-events: none;
  color: #333;
}

.glyphicon {
    font-size: 18px;
}
.dropdown-menu span {
  font-size: 18px;
}
